@font-face {
  font-family: "Futura Std";
  src: local("Futura Std Book Oblique"), local("FuturaStd-BookOblique"),
       url("/static/fonts/FuturaStd-BookOblique.woff2") format("woff2"),
       url("/static/fonts/FuturaStd-BookOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: local("Futura Std Bold"), local("FuturaStd-Bold"),
       url("/static/fonts/FuturaStd-Bold.woff2") format("woff2"),
       url("/static/fonts/FuturaStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: local("Futura Std Book"), local("FuturaStd-Book"),
       url("/static/fonts/FuturaStd-Book.woff2") format("woff2"),
       url("/static/fonts/FuturaStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --button-background: orange;
  --button-foreground: white;
  --button-padding: 0.5rem 1rem;

  --error-foreground: #d43900;

  /*--link-hover: #d50000;*/
  --link-foreground: #0000e0;
  --link-hover: #ed1c24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	font-family: "Futura Std", sans-serif;
}

p {
  line-height: 1.45;
}

p + p {
  margin-top: 1em;
}

main {
  padding: 2rem;
  max-width: 56em;
  margin: 0 auto;
}

.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-background);
  color: var(--button-foreground);
  padding: var(--button-padding);
  font-weight: bold;
}

.button:disabled {
  background-color: grey;
  color: white;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: 0ms !important;
    animation-duration: 1ms !important;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: 0.25rem;
  color: var(--link-foreground);
  line-height: 1.6;
}

a:hover,
a:active,
a:focus {
  color: var(--link-hover);
  border-bottom: 1px solid;
}
