@font-face {
  font-family: "Futura Std";
  src: local("Futura Std Book Oblique"), local("FuturaStd-BookOblique"),
       url("/static/fonts/FuturaStd-BookOblique.woff2") format("woff2"),
       url("/static/fonts/FuturaStd-BookOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: local("Futura Std Bold"), local("FuturaStd-Bold"),
       url("/static/fonts/FuturaStd-Bold.woff2") format("woff2"),
       url("/static/fonts/FuturaStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: local("Futura Std Book"), local("FuturaStd-Book"),
       url("/static/fonts/FuturaStd-Book.woff2") format("woff2"),
       url("/static/fonts/FuturaStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --logo-foreground: #ed1c24;

  --button-background: orange;
  --button-foreground: white;
  --button-padding: 0.5rem 1rem;

  --error-foreground: #d43900;

  /*--link-hover: #d50000;*/
  --link-foreground: #0000e0;
  --link-hover: var(--logo-foreground);

  --spinner-foreground: #000;

  --input-border-colour: var(--logo-foreground);

  --copy-button-foreground: rgba(255, 255, 255, 1);
  --copy-button-copied-colour: rgba(255, 255, 255, 0.75);

  --nav-border: rgba(255, 62, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	font-family: "Futura Std", sans-serif;
  font-size: 1.2rem;
}

p {
  line-height: 1.45;
}

p + p {
  margin-top: 1em;
}

main {
  padding: 2rem;
  max-width: 56em;
  margin: 0 auto;
}

.button {
  border: none;
  font-family: inherit;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-background);
  color: var(--button-foreground);
  padding: var(--button-padding);
  font-weight: bold;
}

.button:hover {
  background: var(--logo-foreground);
}

@media not all and (prefers-reduced-motion: no-preference) {
  * {
    animation-delay: 0ms !important;
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: 0.25rem;
  color: var(--link-foreground);
  line-height: 1.6;
}

a:hover,
a:active,
a:focus {
  color: var(--link-hover);
  border-bottom: 1px solid;
}

label:not(.readonly), input[type="checkbox"]:not(:disabled), input[type="radio"]:not(:disabled) {
  cursor: pointer;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
  outline: 1px solid;
}

input[type="text"], input[type="email"] {
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.recording-section + .recording-section {
  margin-top: 3rem;
}

.required, .choices, label.label {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.required:first-line {
  text-indent: -1em;
}

.error {
  display: block;
  color: var(--error-foreground);
  padding: 0.5rem 0;
  font-size: 0.9em;
}
